/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// layers
#define COLEMAK 0
#define QWERTY  1
#define MINI    2
#define LOWER   3
#define UPPER   4
#define MAGIC   5

&led_strip {
    chain-length = <27>;
};

/ {
    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 3>;
        };

        bt_4: bt_profile_macro_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 4>;
        };

        to_chi: to_chi_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to QWERTY>;
        };

        to_eng: to_eng_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to COLEMAK>;
        };
    };

    behaviors {
        caps_toggle: tap_dance_caps_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp LS(CAPS)>;
        };
        comma_lpar: comma_lpar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LPAR>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        dot_rpar: dot_rpar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp RPAR>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        lbkt_lbrc: lbkt_lbrc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp LBRC>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
        rbkt_rbrc: rbkt_rbrc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBRC>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
        n2_lbkt: n2_lbkt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&lbkt_lbrc>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        n3_rbkt: n3_rbkt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&rbkt_rbrc>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        plus_sqt: plus_sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_PLUS>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        multiply_dqt: multiply_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_MULTIPLY>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        up_pgup: up_pgup {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        down_pgdn: down_pgdn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PG_DN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        left_home: left_home {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp HOME>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        right_end: right_end {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp END>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
                &kp GRAVE  &kp Q  &kp W  &kp F  &kp P  &kp G    &kp J  &kp L  &kp U        &kp Y      &kp SEMI  &kp BSLH
                &to_chi    &kp A  &kp R  &kp S  &kp T  &kp D    &kp H  &kp N  &kp E        &kp I      &kp O     &kp SQT
                &kp ESC    &kp Z  &kp X  &kp C  &kp V  &kp B    &kp K  &kp M  &comma_lpar  &dot_rpar  &kp FSLH  &kp MINUS
                     /* &ctrl_magic  &lt LOWER BSPC  &kp LSHFT    &lt LOWER RET  &lt UPPER SPACE  &mo MAGIC */
                   &mo MAGIC  &lt LOWER ESC  &mt LSHFT SPACE    &mt RCTRL RET  &lt UPPER BSPC  &mo MAGIC
            >;
        };

        qwerty_layer {
            bindings = <
                &trans   &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I   &kp O   &kp P     &trans
                &to_eng  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K   &kp L   &kp SEMI  &trans
                &trans   &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &trans  &trans  &trans    &trans
                                    &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };


        mini_layer {
            bindings = <
                &none  &kp Q  &kp W  &kp F  &kp P  &kp G    &kp J  &kp L  &kp U        &kp Y      &kp SEMI  &none
                &none  &kp A  &kp R  &kp S  &kp T  &kp D    &kp H  &kp N  &kp E        &kp I      &kp O     &none
                &none  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp K  &kp M  &comma_lpar  &dot_rpar  &kp FSLH  &none
                                   &none  &trans  &trans    &trans  &trans  &none
            >;
        };

        lower_layer {
            bindings = <
                &trans  &kp GRAVE  &kp LBKT  &kp LPAR  &kp LBRC  &kp COLON       &multiply_dqt  &kp N7  &kp N8    &kp N9    &kp BSLH      &trans
                &trans  &sk LGUI   &sk LALT  &sk LCTL  &sk LSFT  &kp KP_EQUAL    &plus_sqt      &kp N4  &kp N5    &kp N6    &kp KP_MINUS  &trans
                &trans  &kp SQT    &kp RBKT  &kp RPAR  &kp RBRC  &kp TILDE       &kp N0         &kp N1  &n2_lbkt  &n3_rbkt  &trans        &trans
                                                        &none  &trans  &trans    &trans  &trans  &none
            >;
        };

        upper_layer {
            bindings = <
                &trans  &kp F1    &kp F2    &kp F3    &kp F4    &kp F5       &kp LG(V)  &kp LG(Z)      &up_pgup    &kp TAB      &kp DEL    &trans
                &trans  &sk LGUI  &sk LALT  &sk LCTL  &sk LSFT  &kp GLOBE    &kp LG(C)  &left_home     &down_pgdn  &right_end   &mo MAGIC  &trans
                &trans  &kp F6    &kp F7    &kp F8    &kp F9    &kp F10      &kp LG(X)  &kp LG(LS(Z))  &kp ESC     &key_repeat  &kp RET    &trans
                                                    &none  &trans  &trans    &trans  &trans  &none
            >;
        };

        magic_layer {
            bindings = <
                &bootloader  &rgb_ug RGB_SPI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG    &kp C_BRI_UP  &kp C_PREV    &kp C_PP    &kp C_NEXT    &kp LG(Z)      &bootloader
                &sys_reset   &rgb_ug RGB_SPD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF    &kp C_BRI_DN  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp LG(LS(Z))  &sys_reset
                &soft_off    &bt_0            &bt_1            &bt_2            &bt_3            &bt_4              &to COLEMAK   &to QWERTY    &to LOWER   &to UPPER     &to MINI       &soft_off
                                                                                    &trans  &trans  &out OUT_USB    &bt BT_CLR &trans  &trans
            >;
        };
    };
};
